.min-post-container {
    background-color: #FCBA3A;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.profile-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 20px;
    color: #636060;
    font-weight: bold;
    margin: 0;
}

.meal-name, .star-rating {
    font-size: 20px;
    color: #636060;
    margin: 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.min-post-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    font-size: 20px;
    color: #636060;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
