.min-post-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FCBA3A; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative; 
}


.profile-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 20px;
    color: #636060;
    font-weight: bold;
    margin: 0;
}

.meal-name, .star-rating {
    font-size: 20px;
    color: #636060;
    margin: 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.min-post-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    font-size: 20px;
    color: #636060;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.postActionButtons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    bottom: 20px; 
    right: 20px; 
}

.update-button, .delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #FF5722;
    color: white;
}