.modal-overlay {
    font-family: 'Jockey One', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
}

.modal {
    border-radius: 20px; 
    background-color: #FCCE76; 
    border: 4px solid #36A7F9; 
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow-y: auto;
    max-height: 90%;
}

.modal h2 {
    margin-top: 0;
}

.modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal input[type="text"],
.modal input[type="file"],
.modal textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal textarea {
    height: 80px;
    resize: vertical;
}

.modal .image-preview {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.modal button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.modal .deleteButton{
    background-color: #dc3545;
}

.modal button:hover {
    background-color: #0056b3;
}
.modal .deleteButton{
    margin-left:233px;
}
.modal .deleteButton:hover{
    background-color: #c82333;
}

.modal button:nth-child(2) {
    background-color: #6c757d;
}

.modal button:nth-child(2):hover {
    background-color: #5a6268;
}

.star-rating {
    display: inline-flex;
}

.star {
    color: rgb(96, 92, 92);
    font-size: 40px;
    cursor: pointer;
}

.star.on {
    color: #f90;
}

/* Hide the radio inputs */
.star-rating input[type="radio"] {
    display: none;
}
