body {
    padding: 0;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
  } 

  .sign-up-box {
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: #FCCE76;
    border: 4px solid #36A7F9;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .sign-up-box h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 20px;
  }
  
  .sign-up-box h2 {
    margin-bottom: 20px;
  }
  
  .sign-up-box h4 {
    color: #36A7F9;
  }
  
  .sign-up-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .sign-up-box input {
    width: 50%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    display: block;
  }
  
  .sign-up-box input::placeholder {
    font-size: 20px;
  }
  
  .sign-up-box button.submit {
    width: 50%;
    color: #36A7F9;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .left-inputs {
    width: 100%;
  }
  
  .submit {
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
  }
  p{
    color:blue;
  }