.home-container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    height: 100vh;
    overflow: hidden;
}

.post-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}