.home-container {
  display: flex;
  flex-direction: row;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
  margin-left: 220px;
  width: 75%;
}


.circle-btn {
      width: 130px;
      height: 50px;
      border-radius: 5%;
      background-color: #36A7F9;
      border: none;
      color: white;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
      margin-right: 10px;
  
}

.post-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

.post-link:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.post-link .minimized-post {
  margin-bottom: 15px;
}
