@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

  .review-box {
    font-family: 'Jockey One', sans-serif;
    width: 500px; 
    padding: 20px; 
    border-radius: 20px; 
    background-color: #FCCE76; 
    border: 4px solid #36A7F9; 
    margin: 0 auto; 
    margin-top: 50px; 
    text-align: left;
  }
  
  .review-box h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 20px; 
  }

  .review-box h2 {
    margin-bottom: 20px; 
  }
  
  .review-box h4 {
    color: #36A7F9;
  }

  .review-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .review-box .rating .star-rating {
    display: inline-flex;

  }
  
  .review-box .rating .star {
    color: rgb(96, 92, 92);
    font-size: 40px;
    cursor: pointer;
  }
  
  .review-box .rating .star.on {
    color: #f90;
  }

  #comments {
    width: 95%;
    height: calc(1em * 4); /* Assuming 1em is the height of one line of text */
    resize: none; /* Disable resizing */
    overflow-y: auto; /* Add vertical scroll if needed */
}
  
  .review-box .rating input[type='radio'] {
    display: none;
  }
  
  .review-box input {
    width: 95%; 
    height: 35px;
    margin-bottom: 20px; 
    border-radius: 5px;
    border: 1px solid #000000;
  }
  
  .review-box input::placeholder {
    font-size: 20px; 
  }
  
  
  .review-box button.submit {
    width: 30%;
    color: #36A7F9;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .left-inputs {
    width: 100%;
  }

  #meal-pic {
    outline: none;
    border: none;
    color: black;
    
  }

  .camera-preview {
    position: relative;
    width: 320px;
    height: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

}
  
  .camera-preview video,
  .camera-preview img,
  .camera-preview canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

  }

  .submit, .cancel{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #000000;
    margin: 10px;
    height: 40px;
    font-size: 18px;
    color: #36A7F9;
    width: 30%;
    font-weight: bold;
  }
  
  p{
    color:blue;
  }

  #button-group {
    display: flex;
    justify-content: space-evenly;
  }
  